.iconed-link{
    text-decoration: none;
    font-size: 18px;
    color: $links-color;
    font-weight: bold;
    line-height: 2.667;
    display: flex;
    align-items: center;
  
    &:before{
        content: "";
        display: block;
        background: svg-load('link.svg', fill=$links-color, width=100%, height=100%) center center no-repeat;
        width: 15px;
        height: 15px;
        margin-right: 15px;
        
    }

    &:hover{
        text-decoration: underline;
    }

}

