.last-section{
    background-color: #8db9e3;
    position: relative;
    overflow: hidden; 
    padding-top: 256px;
    padding-bottom: 135px;
    
    @include tablets{
        padding-bottom: 111px;
        padding-top: 188px;
        background-image: url('../images/content/budda.jpg')
    }
}