.longtitle__text{
    font-size: 30px;
    color: rgb(70, 77, 98);
    font-weight: bold;
    line-height: 1.2;
   

}

.longtitle__decs  {
    font-size: 16px;
    color: rgba(70, 77, 98, 0.502);
    line-height: 1.875;
    text-align: left;
    width: 600px;

    
}
