.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 60px;
    font-size: 16px;
    
    &:last-child{
        margin-right: 0;
    }

    &:hover{
        opacity: 1;
        font-weight: 600;
    }
}

.menu--white{
    color: rgb(255, 255, 255);
    line-height: 1.875;
    opacity: .9;
  
}

