.previews{
    height: 408px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.previews__item{
    &:hover{
        border: 2px solid orange;
    }
}

.slider__preview{
    position: absolute;
    right: 12%;
    bottom: 8%;

}