.reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  
}

.reviews__title {
    display: flex;
    width: 100%;
    @include phones {
        justify-content: center;
    }
}

.reviews__list {
    display: flex;
    justify-content: space-between
}

.reviews__slider {
    width: 1000px;
   
    @include tablets {
        width: 100%;
    }
    @include phones {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}