.tag__item{
    padding: 15px 19px;
    background-color: #f3f5f9;
    border-radius: 50px;
    font-size: 15px;
    color: rgba(70, 77, 98, 0.702);
    font-weight: 600;
    margin-right: 16px;

    &:last-child{
        margin-right: none;
    }
  
}



.tags__list{
    display: flex;

}