.triangles__item{
    width: 50%;
    height: 120px;
    fill: currentColor;
    display: block;

    @include tablets{
        height: 40px;
    }

     @include phones{
        height: 22px;
    }
}