.user-data{
    text-align: center;
}

.user-data__desc{
  font-size: 18px;
  line-height: 1.667;
  color: rgba(70, 77, 98, 0.4);
  margin-bottom: 30px;
}

.user-data__name{
  font-size: 72px;
  line-height: 0.833;
  font-weight: 800;
}