.values-section{
    position: relative;
}

.values-section__content{
    display: flex;
}

.container__values{
    padding-top: 153px;
    padding-bottom: 170px;
    
}

.values-section__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value-section__skill{
    margin-left: 127px;
}

.value-section__pic{
    margin-left: -135px;
}