.work-section__triangles{
    position: absolute; 
    top:100%;
    left: 0;
    right: 0;
    

    & .triangles__item{
        transform: rotate(180deg);
    }
}

.work{
    position: relative;
}

