script(type='text/x-template')#skills-list
    .value__skill-container
        ul.skills-list
            li.skills-list__item.skills-row(v-for='category in skills' :key='category.title')
                skills-row(
                    :category='category'
                )
                    

script(type='text/x-template')#skills-row
    .skills-row__title {{category.category}}
        ul.skills-row__list 
            li.skill-row__item(v-for='skill in category.skills' :key='skill.id')
                skill(
                    :skill='skill'
                )
                

script(type='text/x-template')#skill
    .skill
        svg(viewBox="0 0 150 150").skill__circle-shape
            circle(cx="75" cy="75" r="65").skill__circle.skill__circle-gray
            circle(cx="75" cy="75" r="65" ref='circle' stroke='url(#gradient)' transform='rotate(180 75 75)').skill__circle.skill__circle-gradient
            linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                stop(offset="0%" stop-color="#851bde")
                stop(offset="100%" stop-color="#4d0bdf")
        .skill__circle-title {{skill.title}}